/* Utilities */
:root{
    --primary-bg-color:#29524A;
    --primary-color:#FFBD00;
    --light-bg-color:#D69F7E;
    --table-header-color:#61892f;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
h2{
    color: var(--primary-color);
}
.sm{
    font-size: 12px;
}
.s{
    font-size: 1.2em;
}
.m{
    font-size: 2em;
}
.l{
    font-size: 3em;
}
.xl{
    font-size: 4em;
}
.text-center{
    text-align: center;
}
.btn-custom{
    position: relative;
    font-size: 16px;
}
.btn-custom input{
    padding: 4px 12px;
    width: 100%;
    border: 2px solid #fff;
    outline: none;
    background-color: #aaa;
    transition:background-color 0.4s ease;
    margin: 5px 0;
}
.btn-custom .placeholder-custom{
    position: absolute;
    white-space: nowrap;
    left: 13px;
    top: 10px;
    transform: translateY(-50%);
    color: #fff;
    transition: top 0.4s ease,
                font-size 0.4s ease,
                color 0.4s ease;
    cursor: text;
}
.btn-custom input:focus + .placeholder-custom,
.btn-custom input:valid + .placeholder-custom{
    top: -5px;
    left: 9px;
    font-size: 12px;
    color: var(--primary-bg-color);
    /* background-color: #fff; */
    animation: bgBtnFromGreyToWhite 0.4s ease forwards;
    padding: 0 4px;
}
.btn-custom input:focus,
.btn-custom input:valid{
    background-color: #fff;
    border: 2px solid #222;
}

@keyframes bgBtnFromGreyToWhite{
    0%{
        background-color: #aaa;
    }
    100%{
        background-color: #fff;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
/* text area and buttons */
.btn{
    width: 100%;
    border: none;
    outline: none;
    overflow: auto;
    padding: 12px 12px;
    background-color: var(--table-header-color);
    color: #fff;
    font-size: 20px;
}
.btn-items{
    width: 100%;
    border: none;
    outline: none;
    overflow: auto;
    padding: 0px 12px;
    background-color: var(--table-header-color);
    color: #fff;
    height: 34px;
    font-size: 16px;
    margin: 0;
}
.btn:hover{
    transform: scaleY(1.1);
    transform: scaleX(1.01);
    font-weight: bold;
}
.textarea-custom{
    position: relative;
    font-size: 16px;
}
.textarea-custom textarea{
    padding: 10px 12px;
    width: 100%;
    border: 2px solid #fff;
    outline: none;
    background-color: #aaa;
    margin-top: 4px;
    width: 100%;
    height: 76px;
}
.textarea-placeholder-custom{
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    font-weight: bold;
    transition: all 0.3s ease;
}
.textarea-custom textarea:focus,
.textarea-custom textarea:valid{
    background:#fff;
}
.textarea-custom textarea:focus + .textarea-placeholder-custom,
.textarea-custom textarea:valid + .textarea-placeholder-custom{
    top: 8px;
    font-size: 12px;
    background-color: #fff;
    color: #222;
    border: none;
    outline: none;
    padding: 0 5px;
}

/* text area and buttons */
/* .btn{
    display: block;
    width: 100%;
    margin: 3px 0;
} */
label{
    font-size: 1.20em;
    font-weight: bold;
}
.title{
    font-weight: bolder;
    animation: slideInLeft ease-out 750ms;
}
.navbar{
    animation: slideInRight ease-out 750ms;
}
@keyframes slideInLeft{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}
@keyframes slideInRight{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    padding: 0 25px;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
}
.navbar ul li{
    display: inline;
    padding: 8px 5px;
}
.navbar ul li a{
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.25em;
    border: 1px solid var(--primary-color);
    padding: 5px 8px;
    border-radius: 10px;
    margin-top: 5px;
}
.navbar ul li a:hover{
    transform: scale(0.96);
}
.grid{
    display: grid;
    justify-content: center;
    align-items: center;
}
/* Utilities */
/* Invoice */
.grid-4-3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    /* grid-template-areas: ; */
    /* grid-template-rows: 3; */
}
.invoice{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    margin-bottom: 20px;
}
.invoice .document-data{
    grid-column: 1 / span 4;
    text-align: center;
    padding: 0.40em 0.75em;
}

.invoice-body{
    grid-column: 1 / span 3;
    position: relative;
}
/* Invoice */
/* qr code */
#qr-code{
    width: 100%;
    /* height: 250px; */
    /* margin: 15px; */
    margin-top: 7px;
}
#qr-code img{
    display: block;
    width: 100%;
}
/* qr code */
/* Invoice view */
.invoices-view{
    max-width: 1200px;
    margin: auto;
    /* margin-top: 25px; */
    margin-bottom: 50px;
    animation: slideTop 1s ease-out;
    background-color: #fff;
}
@keyframes slideTop{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
.table-invoice-view{
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid black; */
}
.table-invoice-view tr:nth-child(even){
    background-color: rgb(242, 239, 239);
}
.table-invoice-view tr:first-child{
    background-color: var(--table-header-color);
    color: #fff;
    height: 60px;
}
.table-invoice-view tr td,
.table-invoice-view tr th{
    border: solid 1px #fff;
    margin: 0;
    padding: 3px 8px;
    text-align: left;
}
.table-invoice-view tr:not(:first-child):hover td{
    border: solid 1px rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
}
/* Invoice view */
/* invoice items */
.invoice-body-items{
    max-height: 25px;
    position: relative;
}
/* invoice items */
/* My modal */
.subscribers{
    position: relative;
}
#my-modal{
    display: none;
    position: absolute;
    /* bottom: 0; */
    top: 0;
    /* left: 0; */
    right: 0;
    width: 210%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    background-color: rgba(0,0,0,0.75);
    z-index: 1000;
    animation: slideRight 0.4s ease-in-out;
}
.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#my-modal select{
    background-color: var(--primary-bg-color);
    outline: none;
    border: none;
    height: 44px;
    width: 100%;
    color: #fff;
    margin: 12px 0;
    padding: 0 12px;
    font-size: 18px;
}
.close{
    /* padding: 8px 15px; */
    font-size: 4em;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 2.5%;
    color: #fff;
}
/* My modal */
/* create invoice modal */
.create-invoice{
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* height: 200%; */
    background-color: rgba(0,0,0,1);
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    /* cursor: pointer; */
    color: white;
    padding: 2em 0;
    animation: popUp 0.7s ease-out;
    z-index: 1;
}
@keyframes popUp{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.post-invoice{
    grid-column: 1 / span 4;
}

/* create invoice modal */
/* Drag and icon styling */´
.flex-end{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 40px;
    overflow: auto;
}
.drag-section p{
    margin-top: 0;
    margin-bottom: 8px;
}
.drag-section{
    font-size: 1.2em;
    column-count: 2;
    margin: 0;
    margin-bottom: 80px;
}
.drag-section > p{
    /* margin: 10px 3px; */
    padding: 0 10px;
    cursor: pointer;
    border: 1px solid #fff;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    cursor: pointer;
    text-align: right;
    font-size: 1.2em;
}

#i-subscribers::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f2bb";
  }
/* Drag and icon styling */
/* Select styling */
.multiselect{
    width: 100%;
    margin: 5px 0;
    /* max-height: 50px; */
    /* height: 50px; */
}
.select-box{
    position: relative;
    animation: scaleItems 0.5s ease;
}
.over-select{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.multiselect select{
    width: 100%;
    background-color: var(--primary-bg-color);
    outline: none;
    border: none;
    color: #fff;
    height: 34px;
    padding-left: 12px;
    margin-bottom: 4px;
}
#checkboxes {
    margin-top: 0;
    display: none;
    border: 1px #dadada solid;
    animation: scaleItem 0.5s ease;
    overflow: auto;
}
#checkboxes::-webkit-scrollbar{
    width: 15px;
}
@keyframes scaleItem{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
#checkboxes label{
    display: block;
}
/* Select styling */
/* scrollbar */
::-webkit-scrollbar{
    width: 20px;
    background-color: rgba(0,0,0,0.7);
    background-color: rgba(0,0,0,0.75);
}
::-webkit-scrollbar-track{
    border-radius: 10px; 
    box-shadow: inset 0 0 10px grey;

}
::-webkit-scrollbar-thumb{
    background: var(--table-header-color);
    border-radius: 10px;
}
::-webkit-scrollbar-button{
    display: none;
}
/* scrollbar */

/* Footer */
.footer{
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    justify-content: space-evenly;
    padding: 15px 0;
}
.footer-bar ul li a{
    color: var(--primary-color);
}
/* Footer */
